



   
    <p><strong>Welcome</strong> <%= @user.username %></p>
   
    <p><strong>Your Vacations!</strong></p> 
    <ul>

    <% @vacation.all.each do |vacation| %>
        <%= vacation.city %>
        <%= vacation.enjoyment_rating %>
    <% end %>

    </ul>
  