



   
   <h1>Welcome <%= @user.username %></h1>
   
    <h2>Your Vacations!</h2> 
    
    <ul>

    <% @vacation.each do |vacation| %>
      <h3> <a id="link" href="/vacations/<%=vacation.id%>"> <%= vacation.city  %>, <%= vacation.country  %>  </a> </h3>
    <% end %>

    </ul>
  

    