#will show the one instance of a vacation 


<div class="center">

  <div class="info">
   
    
    <p><strong>Your Vacations!</strong></p> 
    <ul>
    <% @vacation.all.each do |vacation| %>
        <% if vacation.solo_traveler = true %>
        <% wow look at you you went alone! %> 
        <% else $> 
        <% i hope you had fun with your friends ! %>
        <% end %>
        <%= vacation.city %>
        <%= vacation.description %>
        <%= vacation.duration %>
        <%= vacation.enjoyment_rating %>
        
    <% end %>

    </ul>
  </div>
</div> 