        <%= form_for(@visit, url: vacation_visits_path( @vacation )) do |f| %>
            <div class="form-group">
            <%= f.label :have_you_visited_before, "Have You Been?" %>
            <br>
            <%= f.select :have_you_visited_before, options_for_select([['Yes', true], ['No', false]], selected: @visit.have_you_visited_before),{}%>
          </div>
          <br>
        <%= f.submit %>
        <% end %> 