<h2> Add a New Vacation </h2> 
<%= render 'form' %>
<div class="form-group">
<%= f.label :have_you_visited_before, "Have you been there yet?" %>
<br>
<select name="have_you_visited_before" >
<option value="yes">Yes</option>
<option value="no">No</option 
</select> 
</div>
<br>